<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="compzx.dao.StudentDaoImpl" id="studentDao"/>

    <bean class="compzx.dao.StudentServiceImpl" id="studentService">


        <property name="studentDao" ref="studentDao"/>
        <property name="name" value="tom"/>
        <property name="age" value="23"/>
        <property name="sex" value="true"/>
        <!--        日期格式默认为2000/1/1-->
        <property name="bir" value="2012/12/12"/>
        <property name="salary" value="233.2"/>
    </bean>

</beans>