<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="compzx.dao.BookDao">
    <select id="findAllBook" resultType="compzx.util.Book">
        select * from book
    </select>

    <select id="findBook" resultType="compzx.util.Book">
        select * from book where id = #{id} and name = #{name} and author = #{author}
    </select>

    <select id="findBookByid" resultType="compzx.util.Book">
        select * from book where id = #{id}
    </select>
</mapper>
