<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    指定组件以多例的方式进行创建-->
    <!--    scope="prototype"多例-->
    <!--    scope="singleton"单例-->
    <!--    <bean class="scope.ManageDaoImpl" id="manageDao" scope="prototype"/>-->
    <!--    生命周期方法：-->
    <!--    init method 工厂创建时执行方法-->
    <!--    destroy method 工厂销毁时执行方法-->
    <bean class="scope.ManageDaoImpl" id="manageDao"/>
</beans>